# LES VARIABLES EN PYTHON

En Python, une variable sert à mémoriser une valeur (par exemple un nombre ou un texte) que l’on pourra réutiliser et modifier au cours de l’exécution du programme.

Python peut travailler avec tout type de valeurs, numérique ou textuelle, sans avoir à spécifier le type à l'avance.

Les caractères et le texte doivent être indiqués entre guillemets : "texte" ou 'texte'.

In [4]:
'a'

'a'

Si on oublie les guillemets:

In [5]:
a

NameError: name 'a' is not defined

Si nous ne mettons pas de guillemets les caractères sont consideres comme des variables auxquels un valeur doit etre assigné.

In [2]:
a=4

Après l’assignation de la valeur 4 à la variable a, la variable a contiendra la valeur 4 dans notre script.

In [3]:
a

4

Mais je peux aussi le re-assigner pour changer la valeur stocké dans la variable

In [8]:
a='a'

In [9]:
a

'a'

In [10]:
a='texte'

In [11]:
a

'texte'

## Quelque operation de base

Le signe + a une signification différente pour les chiffres et les caractères : il additionne pour les chiffres et concatène pour les caractères.

In [12]:
13+45

58

In [13]:
'a'+'b'

'ab'

Attention : Les signes -,/,* ne sont pas définis pour les caractères

In [14]:
24-45

-21

In [15]:
'ab'-'b'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [16]:
print(3*2)
print(3/2)
print(3**2)

6
1.5
9

Sans la commande 'print', seule la dernière opération effectuée dans une cellule est affichée.

In [17]:
3*2
3/2
3**2

9

Si on utilise les variables:

In [18]:
a=4
b=7

In [19]:
a+b

11

# Type conversion

En Python, il est souvent nécessaire de **convertir** une valeur d'un type à un autre.  
Cela s'appelle le **casting** ou la **conversion de type**. Les conversions les plus courantes sont :

- **`int()`** : convertit une valeur en entier  
```python
  x = int(3.7)  # x devient 3
  y = int("10") # y devient 10

- **`float()`** : convertit une valeur en nombre à virgule flottante
```python
    x = float(5)    # x devient 5.0 
    y = float("3.14") # y devient 3.14

- **`str()`** : convertit une valeur en chaîne de caractères  
```python
  x = str(100)    # x devient "100"  
  y = str(3.14)   # y devient "3.14"


  Attention : toutes les conversions ne sont pas possibles. Par exemple, int("bonjour") provoquera une erreur.

In [21]:
a=4.9

In [25]:
b=int(a)

In [26]:
b

4

In [27]:
float(b)

4.0

In [28]:
str(a)

'4.9'

In [29]:
str(a)+str(b)

'4.94'

In [30]:
'test'+str(b)

'test4'

## Identifier le type d'une variable
On peut demander à python quel type de valeur corresponds à une variable avec le commande `type(var)`

In [31]:
a=4
b='4'
c=0.4

In [32]:
type(a)

int

In [33]:
type(b)

str

In [34]:
type(c)

float

C'est une bonne habitude de donner des noms significatifs aux variables, qui décrivent ce que les variables représentent.

Un exemple plus concret:

$IMC=\frac{poids}{taille^2}$

In [35]:
poids=57
taille=1.70

IMC=poids/(taille**2)

In [36]:
IMC

19.723183391003463

In [37]:
type(IMC)

float

#### QUELQUE OPERATION POUR LES VARIABLES TEXTUELLES

In [38]:
tt='La population de la France est de 67,8 millions. La population de l\'Italie est de 58,98 millions.'

In [39]:
# calculer la longueur du texte
len(tt)

97

In [ ]:
# mettre tout le teste en minuscule/majuscule
print(tt.lower())
print(tt.upper())

la population de la france est de 67,8 millions. la population de l'italie est de 58,98 millions.
LA POPULATION DE LA FRANCE EST DE 67,8 MILLIONS. LA POPULATION DE L'ITALIE EST DE 58,98 MILLIONS.

In [ ]:
#modifier certaines parties du texte
tt2=tt.replace('Italie','Argentine')

In [32]:
tt

"La population de la France est de 67,8 millions. La population de l'Italie est de 58,98 millions."

In [33]:
tt2

"La population de la France est de 67,8 millions. La population de l'Argentine est de 58,98 millions."

In [34]:
#On peut encheiner les operations.
tt3=tt.replace('Italie','Argentine').replace('58,98','46,01')

In [35]:
tt3

"La population de la France est de 67,8 millions. La population de l'Argentine est de 46,01 millions."

In [36]:
#Tester si un texte contient un mot
'Italie' in tt

True

In [37]:
'Italie' in tt3

False

In [ ]:
#premiere lettre du texte
tt[0]
#derniere lettre du texte
tt[-1]
#sous-texte (de la position 4 a la position 14)
tt[4:15]

### COMPOSITION DES VARIABLES TEXTUELLES

In [4]:
# Données issues d’une enquête par questionnaire
prenom = "Karim"
age = 21
niveau_etudes = "licence"
ville = "Lyon"

On veut combiner plusieurs variables textuelles afin de construire une phrase décrivant le profil d’un individu à partir de données issues d’un questionnaire sociologique (âge, sexe, profession, lieu de résidence).

In [5]:
# Conversion de l’âge en texte pour pouvoir l’intégrer dans la phrase
age_texte = str(age)

In [6]:
age_texte

'21'

In [7]:
# Construction d’une phrase descriptive
phrase = prenom + " a " + age_texte + " ans, est en " + niveau_etudes + " et habite à " + ville

In [8]:
print(phrase)

Karim a 21 ans, est en licence et habite à Lyon

### ECRITURE SUR FICHIER

Dans le cadre du traitement de données, il est souvent nécessaire de sauvegarder les résultats d’un programme dans un fichier (par exemple pour conserver un résumé de profils, des réponses nettoyées ou des descriptions d’individus). On suive ces étapes:

- Creation d'une variable avec le nom du fichier de sortie
- Ouverture  d’un fichier de sortie en mode écriture
- Écriture
- Fermeture du fichier de sortie

In [14]:
#Creation d'une variable avec le nom du fichier de sortie
outfile='exemple_ecriture.txt'

In [11]:
#Ouverture  d’un fichier de sortie en mode écriture
ww=open(outfile,'w')

Si je veux ajouter du text à un fichier pre-existent je utilise 'a' à la place de 'w':

ww=open(outfile,'a')

In [12]:
# Ecriture
ww.write(phrase)

47

In [13]:
#Fermeture du fichier
ww.close()