# LISTES et ENSEMBLES

Une liste est une séquence ordonnée de valeurs. Il est indiqué par une séquence de valeurs, séparées par des virgules, entre crochets. 

Une liste peut contenir des valeurs égales. 

Une liste ne doit pas nécessairement être homogène : elle peut contenir tous les types de valeurs.

In [1]:
# une liste de chiffres:
ln=[1,2,3,0.7,9]
# une liste de textes:
lt=['SUN','Flower','Mountain']
#mix:
lmix=[1,2,3,0.7,9,'SUN','Flower','Mountain']

Pour obtenir la longueur d'une liste, on utilise la commande len()

In [2]:
len(ln)

5

In [3]:
print(len(ln))
print(len(lt))
print(len(lmix))

5
3
8

Pour prendre le n-ième élément d'une liste on mets la position entre crochets : listname[n]

In [4]:
ln[4]

9

On commence à compter de 0, donc le premiere élément est

In [4]:
lt[0]

'SUN'

Pour prendre les n premiers éléments d'une liste : listname[:n]

In [5]:
ln[:3]

[1, 2, 3]

Pour prendre les éléments d'une liste en commençant par le nième élément : listname[n:]

In [6]:
ln[3:]

[0.7, 9]

Nous pouvons aussi commencer du fond de la liste:

In [7]:
print(ln)
print(ln[-1])
print(ln[-2])

[1, 2, 3, 0.7, 9]
9
0.7

Nous pouvons changer un element de la liste

In [8]:
lt

['SUN', 'Flower', 'Mountain']

In [9]:
lt[1]='River'

In [10]:
lt

['SUN', 'River', 'Mountain']

Pour retrouver la position d'un element dans la liste nous utilisons le commande listname.index(element)

In [11]:
lt.index('River')

1

In [12]:
ln.index(3)

2

#### LIST ET STRINGS

Pour transformer une liste dans une chaine de characters on utilise le commnade 'join':

In [13]:
text=(' ').join(lt)
print (type(lt))
print (type(text))
print (text)

<class 'list'>
<class 'str'>
SUN River Mountain

In [14]:
textv=(',').join(lt)
print (textv)

SUN,River,Mountain

Pour transformer une chaine de characters dans une liste on utilise le commande 'split':

In [15]:
text.split(' ')

['SUN', 'River', 'Mountain']

In [16]:
textv.split(',')

['SUN', 'River', 'Mountain']

### OPERATIONS AVEC LES LISTES

Nous pouvons fusionner deux listes avec le signe +

In [17]:
lsum=lmix+ln
print(lsum)

[1, 2, 3, 0.7, 9, 'SUN', 'Flower', 'Mountain', 1, 2, 3, 0.7, 9]

nous pouvons ajouter un element au fond de la liste avec le commande : listname.append(newelement)

In [18]:
ln

[1, 2, 3, 0.7, 9]

In [19]:
ln.append(6)

In [20]:
ln

[1, 2, 3, 0.7, 9, 6]

Si la liste ne contient que des valeurs numériques, nous pouvons calculer la somme de tous les éléments avec la commande : sum(listname)

In [21]:
sum(ln)

21.7

Nous pouvons extraire max et min

In [22]:
print(min(ln))
print(max(ln))

0.7
9

Nous pouvons tester si une valeur se trouve à l'intérieur d'une liste avec l'opérateur 'in'.

In [23]:
4 in ln

False

In [24]:
'River' in lt

True

Pour compter le nombre de fois qu'un élément apparaît dans une liste, on peut utiliser la commande count()

In [25]:
lsum.count(2)

2

In [26]:
lsum.count('SUN')

1

In [27]:
lsum.count('River')

0

### LIST ET SET

Les "sets" sont d'autres types de listes qui ne contiennent pas de doublons. 

Ils sont utiles car les opérations entre ensembles sont définies sur les "set".

Pour enlever les doublons d'une liste on passe à un set (et eventuallement on peut le retransformer dans une liste.

In [28]:
lsum

[1, 2, 3, 0.7, 9, 'SUN', 'Flower', 'Mountain', 1, 2, 3, 0.7, 9]

In [29]:
set(lsum)

{0.7, 1, 2, 3, 9, 'Flower', 'Mountain', 'SUN'}

In [30]:
list(set(lsum))

[0.7, 1, 2, 3, 9, 'SUN', 'Mountain', 'Flower']

In [32]:
#### Operations entre set

In [31]:
setn=set(ln)
setmix=set(lmix)

In [32]:
setmix

{0.7, 1, 2, 3, 9, 'Flower', 'Mountain', 'SUN'}

In [33]:
setn

{0.7, 1, 2, 3, 6, 9}

In [34]:
# intersection (elements communs)
setn & setmix

{0.7, 1, 2, 3, 9}

In [35]:
# union
setn | setmix

{0.7, 1, 2, 3, 6, 9, 'Flower', 'Mountain', 'SUN'}

In [36]:
#difference (elements qui sont dans le premier ensemble et pas dans le deuxieme)
setn-setmix

{6}

In [37]:
setmix-setn

{'Flower', 'Mountain', 'SUN'}

### LISTES DES LISTES (listes imbriquées)

Une "liste de listes" est une liste dont les éléments sont eux-mêmes des listes.
On peut l'utiliser pour représenter des tableaux, des matrices, ou des données organisées par lignes et colonnes.

In [1]:
# Exemple : une matrice 3x3
matrice = [
    [1, 2, 3],   # première ligne
    [4, 5, 6],   # deuxième ligne
    [7, 8, 9]    # troisième ligne
]

# Afficher toute la matrice
print("Matrice complète :")
print(matrice)

Matrice complète :
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

#### Accès aux éléments
Pour accéder à un élément, on utilise deux indices :
- le premier pour choisir la ligne
- le deuxième pour choisir la colonne

In [ ]:
# première ligne
matrice[0]

[1, 2, 3]

In [4]:
# première ligne, deuxième element
matrice[0][1]

2

##### FLATTEN MATRIX

« Flatten » signifie transformer une matrice (une liste de listes) en une seule liste qui contient tous les éléments dans un seul vecteur (une dimension). C'est une operation tres frequente pour le nettoyage des données.

In [5]:
matrice = [
    [1, 2, 3],
    [4, 5, 6]
]

Après flatten je veux obtenir listeFlat=[1,2,3,4,5,6]

Pour effectuer cette opération, il existe plusieurs procédures possibles. Je vous donne ici la formulation la plus rapide, que nous comprendrons mieux dans les prochaines séances.

In [7]:
# cette fonctionne prend en entrée une matrice (liste de listes) et retourne une liste aplatie. 
# #On la declare au debut du code pour pouvoir l'utiliser chaque fois qu'on en a besoin.   

def flatten_matrix(matrix):
    flattened_list = [valeur for ligne in matrix for valeur in ligne]
    return flattened_list

fm=flatten_matrix(matrice)

In [8]:
fm

[1, 2, 3, 4, 5, 6]

## LA BIBLIOTHÈQUE NUMPY

Pour manipuler des **listes de nombres** et effectuer des **calculs statistiques** rapidement, on peut utiliser la bibliothèque **NumPy**.  

Avec NumPy, on peut facilement calculer :  
- la **moyenne** (`mean`)  
- l’**écart-type** (`std`)  
- la **médiane** (`median`)  
- les **quartiles** (`percentile`)

In [1]:
import numpy as np

In [2]:
ll=[1,4,6,7.5,9.4]

print(np.mean(ll)) # moyenne
print(np.std(ll))  # écart-type
print(np.median(ll)) # médiane
print(np.percentile(ll, 25)) # premier quartile
print(np.percentile(ll, 75)) # troisième quartile
#!/usr/bin/env python3

5.58
2.8957900476381226
6.0
4.0
7.5